<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav><a href="/">Home page </a></nav>
    <h1>Showing cars</h1>


 <ol>
   <%cars.forEach((elem)=>{%>
    <li><a href="/cars/<%= elem.id %>"><%=elem.name%></a></li><br>
  <% }) %>

</ol>











    <a href="/cars/new">add new Car</a>





</body>
</html>